body{
    margin: 0;
    padding: 0;
    background: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fbusiness-loan&psig=AOvVaw1u7Q_-nZFg38yapixdMySl&ust=1672251362467000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMCiifWzmvwCFQAAAAAdAAAAABAE");
    background-size:cover;
    background-position: center;
    font-family: sans-serif;
    
    
}